/* Custom style */



html {
	height: 100%;
}


body {
	background: #e0e0e0 url(../images/posi-bg.png) repeat-x top left;
	color: #757575;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-align: left;
}



.main {
	width: 100%;
	height: auto;
	margin: 0 auto;
}


	/*-----  Header  ------*/

	.header {
		width: 100%;
		/*height: 12px;*/
		background-color: #009688;
	}
		
		.header .header-wrapper {
			position: relative;
			width: 100%;
			height: 32px;
			margin: 0 auto;
			padding: 10px 24px;
		}
	
	#posi-inscript .header {
		/*width: 100%;*/
		max-width: 364px;
		height: 100%;
		margin: 0 auto;
		/*padding: 0 24px;*/

	}

		#posi-inscript .header .header-wrapper {
			/*max-width: 364px;*/ /*412px;*/
			margin: 0;
			/*padding: 0 24px;*/
		}

			.header .logo {
				display: none;
			}
				
				/*.main-small .header .logo img {
					width: 100%;
				}*/
				
				.header .header-title {
					/*position: absolute;*/
					/*float: left;*/
					width: 80%;
					height: 100%;
					padding: 0;
					line-height: 0.5em;
					text-align: left;
				}


/*
@media only screen and (max-width: 412px) {

	#posi-inscript .header {
		width: 100%;
		max-width: 364px;
		height: 40px;
		margin: 0 auto;
		background-color: #009688;
	}

		#posi-inscript .header .header-wrapper {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			padding: 10px 24px;
		}

			.header .header-title {
				padding: 0;
				text-align: right;
			}

}*/
			
				
				.header .header-title i {
					padding-right: 0.25em;
					color: #b3e0db;
					font-size: 0.875em;
					display: none;
				}

				.header .header-title h1 {
					display: inline;
					margin: 0;
					color: #ffffff; /*b3e0db;*/
					font-size: 0.75em;
					/*font-size: 0.8125em;*/
					font-weight: 400;
					/*line-height: 24px;*/
				}
		

			.header .header-menu {
				position: absolute;
				/*float: right;*/
				right: 24px;
				top: 4px;
				height: 32px;
				/*width: 256px;*/
				z-index: 992;
			}
				
				.header-menu .menu-btn {
					                   
					display: block;
					width: 24px;
					height: 24px;
					background-color: #009688;
					border: none;
					color: #b3e0db;
					font-size: 1.5em; /*1.25em;*/
					text-align: center;
					/*line-height: 2em;*/
					text-decoration: none;
				}

				.header-menu .menu-btn:hover {
					background-color: #01bfa5;
				}
					
					.header-menu .menu-btn:hover i {
						color: #fff;
					}

				.header-menu .menu-list {
					clear: both;
					display: none;
					background-color: #009688;
					color: #fff;
					font-size: 1em;
				}

					.header-menu .menu-list li {
						height: 30px;
						padding: 10px;
						border-bottom: 1px solid #01bfa5;
						display: table;
						width: 100%;
					}

						.header-menu .menu-list li span {
							display: table-cell;
							vertical-align: middle;
						}



	/*-----  Contenu  ------*/

	.content {
		width: 100%;
		max-width: 412px;
		height: auto;
		margin: 0 auto;
		padding: 0 24px 24px 24px;
	}
		
			
		.content .form-header {
			width: 100%;
			height: 48px;
			margin: 0;
			padding: 10px 24px;
		}
		
			.content .form-header h2 {
				float: left;                   
				display: block;
				font-size: 1.5em;
				font-weight: 400;
				line-height: 1em;
			}

			.content .form-header i {
				float: right;                   
				display: block;
				width: 24px;
				height: 28px;
				color: #b3e0db;
				font-size: 24px; /*1.25em;*/
				text-align: center;
				line-height: 24px;
				text-decoration: none;
			}
		
		
	/*-----  Content Inscription  ------*/
	
	#posi-inscript .content {
		width: 100%;
		max-width: 412px;
		height: auto;
		margin: 0 auto;
		padding: 0 24px 24px 24px;
	}

		.content .stepper {
			width: 100%;
			background-color: #fff;
		}
			
			.content .stepper ul {
				display: block;
				margin: 0;
				padding: 32px 52px 0px 52px;
				overflow: hidden;
				position: relative;
				/* Number the steps counters */
				counter-reset: step;
				z-index: 1;
			}

				.content .stepper li {
					width: 33.33%;
					float: left;
					position: relative;
					list-style-type: none;
					color: #bdbdbd;
					font-size: 0.625em;
					line-height: 0.625em;
					font-weight: 600;
					text-transform: uppercase;
					text-align: center;
				}

				.content .stepper li.active {
					color: #757575;
				}
				
				/* Progressbar blocks */
				.content .stepper li:before {
					content: counter(step);
					counter-increment: step;
					width: 20px;
					line-height: 20px;
					display: block;
					font-size: inherit;
					font-weight: inherit;
					color: #e0e0e0;
					background: #bdbdbd;
					border-radius: 3px;
					margin: 0 auto 5px auto;
				}
				
				/* Progressbar connectors */
				.content .stepper li:after {
					content: '';
					width: 100%;
					height: 2px;
					background: #bdbdbd;
					position: absolute;
					left: -50%;
					top: 9px;
					z-index: -1; /* Behind the numbers */
				}
				
				.content .stepper li:first-child:after {
					/* Connector not needed before the first step */
					content: none;
				}

				/* Marking active/completed steps green */
				.content .stepper li.active:before, .content .stepper li.active:after {
					background: #ff9800;
					color: #fff;
				}
		

		.content .fieldsets-parts {
			/*display: block;*/
			/*width: 100%;*/
			/*position: relative;*/
			/*background-color: #fff;*/
			/*overflow: hidden;*/
		}

			.content fieldset {
				/*display: block;*/
				/* Stacking fieldsets above each other */
				/*position: relative;*/
				width: 100%;
				height: auto;
				margin: 0;
				padding: 32px 32px 40px 32px;
				background-color: #fff;
				border: 0 none;
			}

			/* Hide all except first fieldset */
			/*.content fieldset:not(:first-of-type) {*/
				/*display: none;*/
				/*position: absolute;*/
			/*}*/
				
				.content fieldset .fieldset-title {
					border-bottom: 2px solid #bdbdbd;
					padding-bottom: 0.5em;
					margin-bottom: 1em;
					color: #757575;
				}

					.content fieldset .fieldset-title i {
						padding-right: 0.5em;
						font-size: 1.4em;
						line-height: 1em;
					}

					.content fieldset .fieldset-title h2 {
						display: inline;
						font-weight: 600;
						line-height: 1em;
					}


				.content fieldset .error-zone {
					/*background: #fce3e0;*/
					/*border: 1px solid #ff786a;*/
				    width: 100%;
					margin: 5px 0;
					padding: 10px 12px;
					background-color: #fce3e0;
					border: 2px solid #e74c3c;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					box-shadow: none;
					color: #757575;
					font-family: inherit;
					font-size: 0.75em;
					/*line-height: 1.125em;*/
					font-weight: 600;
					vertical-align: middle;
				}

					.content fieldset .error-zone li {
						/*margin-left: -30px;
						margin-bottom: 5px; 
						list-style: disc outside none;*/
						/*list-style: none;*/
					}

				/*
				.content fieldset .zone-success{
				    background: #bcede6;
				    margin: 20px 0 0 0;
				    padding: 10px;
				    border: 1px solid #1FBBA6;
				    border-radius: 5px 5px 5px 5px;
				    color: #039b87;
				    font-size: 12px;
				}

					.content fieldset .zone-success li {
					    margin-left: -30px;
					    list-style: none;
					}
				*/


				
				.content fieldset .sub-form {
					padding: 5px 15px 15px 15px;
					margin-bottom: 10px;
					background-color: #F4F4F4;
					border: 2px solid #bdbdbd;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}

				.content fieldset .form-hint {
					/*padding-left: 8px;*/
					/*padding: 1px 6px;*/
					display: none;
				}

				/*.content fieldset .form-hint::before {
					content: '\25B2';
					color: #d45252;
					padding-right: 8px;
				}*/

				.content fieldset input:focus + .form-hint {
					/*display: none;*/
				}
				
				.content fieldset input:invalid + .form-hint {
					/*background: #28921f;*/ /* Change form hint color when valid */
					/*display: inline;*/
				}

				.content fieldset input:required:valid + .form-hint {
					/*background: #28921f;*/ /* Change form hint color when valid */
				}

				.content fieldset input:required:valid + .form-hint::before {
					/*color: #28921f;*/ /* Change form hint arrow color when valid */
				}

				.content fieldset .dropdown-menu.inner {
					/*margin: 0 auto;*/
					width: 100%;
					max-width: 100px;
					/*padding: 20px 10px;*/
					/*position: relative;*/
					/*overflow: hidden;*/
					max-height: 100px;
				}
				

				.content fieldset #email-intervenant {
					/*position: relative;*/
				}

				.content fieldset .interv-container {
					position: relative;
					width: 100%;
				}

				.content fieldset #interv-results {
					display: none;
					position: absolute;
					/*float: left;*/
					/*width: 100%;*/
					/*min-width: 100px;*/
					left: 0;
					right: 0;
					margin: -10px 0px 0px 0px;
					padding-top: 5px;
					/*background-clip: padding-box;*/
					background-color: #fff;
					border: 2px solid #00bfa5;
					border-top: none;
					-webkit-border-radius: 0px 0px 5px 5px;
					-moz-border-radius: 0px 0px 5px 5px;
					border-radius: 0px 0px 5px 5px;
					text-align: left;
					z-index: 1000;
					overflow: hidden;
				}

					.content fieldset #interv-results ul {
						/*list-style: outside none none;*/
						margin: 0;
					}

					.content fieldset #interv-results .result {

						
					}
					
					.content fieldset #interv-results li > a {
						/*clear: both;*/
						display: block;
						padding: 10px;
						color: #757575;
						font-family: inherit;
						font-size: 0.875em;
						font-weight: 400;
						line-height: 0.875em;
						white-space: nowrap;
					}
					
					.content fieldset #interv-results li a:hover, .content fieldset #interv-results li a:active, .content fieldset #interv-results li.selected a:hover, .content fieldset #interv-results li.selected a:active {
						background-color: #00bfa5;
						color: #fff;
						font-weight: 600;
						cursor: pointer;
					}

					.content fieldset #interv-results li.selected a {
						background-color: #fff;
						color: #00bfa5;
						font-weight: 600;
						cursor: auto;
					}


			

				.content fieldset .label-title {
					margin: 0;
					padding: 5px 0 5px 0;
					/*color: #677273;*/
				}
				
			
				.content fieldset .next {
					float: right;
					width: 46%;
					margin: 30px 0 0 0;
				}

				.content fieldset .next#next1 {

				}

				.content fieldset .previous {
					float: left;
					width: 46%;
					margin: 30px 0 0 0;
				}

				.content fieldset #submit {
					float: right;
					width: 46%;
					margin: 30px 0 0 0;
				}
		
		


	/*-----  Content Page  ------*/

	#posi-page .content {
		width: 100%;
		max-width: 798px;
		height: auto;
		margin: 0 auto;
		padding: 0 24px 24px 24px;
	}


		#posi-page .media-display {
			position: relative;
			width: 100%;
			/*max-width: 750px;*/
			height: 100%;
			/*height: 0%;*/
			/*padding-bottom: 56%;*/
			/*max-height: 420px;*/
			margin: 0 auto;
			/*padding: 20px;*/
			background-color: #fff;
		}
			
			#posi-page .media-display #visuel {
				position: relative;
				width: 100%;
				max-width: 750px;
				height: 0%;
				max-height: 420px;
				padding-bottom: 56%;
				/*line-height: 420px;*/
			}

				#posi-page .media-display img, #posi-page .media-display #video {
					position: absolute;
					width: 100%;
					max-width: 100%;
					z-index: 99;
				}
				/*
				.projekktor {
					margin: -1px 0;
				}*/
				

			#posi-page .media-display #loader {
				/*display: none;*/
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 189;
				/*background-color: rgba(255, 255, 255, 0.5);*/
				line-height: 100%;
				text-align: center;
			}

				#posi-page .media-display #loader .image-loader {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
					z-index: 190;
					background: url('../images/loader_bl.gif') center center no-repeat;
				}
			
				/*
				#posi-page .media-display #loader #svg-loader {
					position: relative;
					width: 100%;
					height: 100%;
					display: inline-block;
					text-align: center;
					vertical-align: middle;
				}
				
					#posi-page .media-display #loader-bg {
						fill: none;
						stroke: #fff;
						stroke-width: 6;
						stroke-dasharray: 170;
						stroke-dashoffset: 170;
					}
					*/

				#posi-page .media-display #loader .custom-loader {
					position: absolute;
					top: 0; left: 0; bottom: 0; right: 0;
					width: 50px;
					height: 50px;
					margin: auto;
					/*line-height: 100%;*/
					display: inline-block;
					vertical-align: middle;
					border-radius: 50px;
					border: 6px solid rgba(0, 191, 165, 0.3);
					/*z-index: 195;*/
				}
					
					#posi-page .media-display #loader .custom-loader:after {
						position: absolute;
						top: -6px; left: -6px;
						bottom: -6px; right: -6px;
						content: '';
						border-radius: 50px;
						border: 6px solid transparent;
						border-top-color: #00bfa5;
						z-index: 198;
						display: inline-block;
						vertical-align: middle;

						-webkit-animation: loader-spin 1s linear 0s infinite;
						animation: loader-spin 1s linear 0s infinite;
					}
					

					/*** Animation (rotation) ***/
					
					@-webkit-keyframes loader-spin {
						0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg); }
						100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
					}

					@keyframes loader-spin {
						0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg); }
						100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
					}
					
			
			#posi-page .media-display #lecteurvideo {
				max-width: 100%;
				height: 100%;
			}
			
			
			#posi-page .media-display #audio {
				/*display: none;*/
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				z-index: 90;
			}

				#posi-page .media-display #audio #audioplayer {
					display: block;
					/*position: absolute;
					top: 0;
					left: 0;
					z-index: 91;*/
					width: 200px;
					height: 40px;
				}
			
			/*
			#posi-page .media-display #speaker {
				position: absolute;
				bottom: 15px;
				right: 15px;
				width: 40px;
				height: 40px;
				padding: 0;
				margin: 0;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				background-color: #3498db;
				z-index: 599;
			}

			#posi-page .media-display #speaker:disabled {
				background-color: #bdbdbd;
			}
			
			#posi-page .media-display #speaker:hover {
				background-color: #2980b9;
			}

				#posi-page .media-display #speaker .fa {
					font-size: 1.25em;
					color: #fff;
				}
				*/
			/*
			#posi-page .media-display #controls-bg {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 64px;
				padding: 0;
				margin: 0;
				background-color: #000;
				opacity: 0;
				filter: alpha(opacity=0);
				z-index: 590;
			}
			*/

			#posi-page .media-display #speaker {
				position: absolute;
				bottom: 20px;
				left: 20px;
				width: 46px;
				height: 46px;
				padding: 0;
				margin: 0;
				z-index: 598;
			}
				
				#posi-page .media-display #speaker #svg-speaker-bg {
					position: absolute;
					min-width: 46px;
					min-height: 46px;
					bottom: 0;
					left: 0;
				}
					#posi-page .media-display #speaker #svg-speaker-bg #speaker-bg {
						fill: #fff;
						opacity: 0.4;
						filter: alpha(opacity=40);
					}


				#posi-page .media-display #speaker #speaker-button {
					position: absolute;
					z-index: 601;
					width: 46px;
					height: 46px;
					bottom: 0;
					left: 0;
					margin: 0 0 1px -2px; /*11px 5px;*/
					padding: 9px 9px;
					/*-webkit-border-radius: 20px;
					-moz-border-radius: 20px;
					border-radius: 20px;*/
					/*background-color: #3498db;*/
					background: none !important;
				}
				



				#posi-page .media-display #speaker #speaker-button:disabled {
					/*background-color: #bdbdbd;*/
				}
				
				#posi-page .media-display #speaker #speaker-button:hover {
					/*background-color: #2980b9;*/
				}

					/*#posi-page .media-display #speaker #speaker-button:disabled>.speaker-svg {
						background-color: #bdbdbd;
					}
				
					#posi-page .media-display #speaker #speaker-button:hover>.speaker-svg {
						background-color: #2980b9;
					}*/
				
					/*
					#posi-page .media-display #speaker .fa {
						font-size: 1.25em;
						color: #fff;
					}*/
					
					/*
					#posi-page .media-display #speaker #speaker-button>img {
						position: static;
						width: 24px;
						min-width: 24px;
						height: 24px;
						margin-top: 2px;
					}*/


					#posi-page .media-display #speaker-button .speaker-svg {
						/*width: 24px;
						height: 24px;*/
						fill: #039be5;
					}

					#posi-page .media-display #speaker-button:disabled>.speaker-svg {
						fill: #fff; /*#bdbdbd;*/
						/*opacity: 0.5;
						filter: alpha(opacity=50);*/
					}
				
					#posi-page .media-display #speaker-button:hover>.speaker-svg {
						fill: #2980b9;
						/*opacity: 0.75;
						filter: alpha(opacity=75);*/
					}


					
				#posi-page .media-display #speaker #svg-speaker-progress {
					position: absolute;
					min-width: 46px;
					min-height: 46px;
					bottom: 0;
					left: 0;
					z-index: 600;
					/*margin: 5px;*/
				}
					
					#posi-page .media-display #speaker #speaker-loader {
						fill: none;
						stroke: #fff; /* #bdbdbd;*/
						stroke-width: 3;
						stroke-dasharray: 170;
						stroke-dashoffset: 170;
						/*opacity: 0.75;
						filter: alpha(opacity=75);*/
					}

					#posi-page .media-display #speaker #speaker-progress {
						fill: none;
						stroke: #039be5;
						stroke-width: 3;
						stroke-dasharray: 170;
						stroke-dashoffset: 170;
						
						/*animation: dash 5s linear;*/ /* forwards; backwards; */
						/* 
						Avoir la longueur du stroke en js : 
						var path = document.querySelector('.path');
						var length = path.getTotalLength();
						*/
					}
					/*
					@keyframes dash {
						to {
							stroke-dashoffset: -126;
						}
					}
					*/
			/*
			#posi-page .media-display #speaker.disabled {
				background-color: #bdbdbd;
			}
			
			#posi-page .media-display #speaker.hover {
				background-color: #2980b9;
			}

				#posi-page .media-display #speaker .fa {
					
					font-size: 1.25em;
					color: #fff;
				}
				*/

	
			/*#posi-page .media-display */
			/*
			#black-bg {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #000000;
				opacity: 0.5;
				filter: alpha(opacity=50);
				z-index: 799;
			}
			*/

			#posi-page .media-display #btn-suite {
				position: absolute;
				/*width: 100px;*/
				/*height: 45px;*/
				bottom: 24px;
				right: 24px;
				/*padding: 0;
				margin: 0;*/
				/*text-align: center;*/
				z-index: 899;
			}

				/*
				#posi-page .media-display #btn-suite .vert-align {
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				*/
				#posi-page .media-display #btn-suite input {
					/*display: inline-block;*/
					width: 80px;
					/*height: 45px;*/
					padding: 0;
					margin: 0;
					/*vertical-align: middle;*/
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
				}


		/*
		#posi-page #audio {
			float: left;
			min-width: 184px;
			min-height: 44px;
			max-height: 44px;
			height: 22px;
			padding: 11px;
			background-color: #fff;
		}
		*/



		#posi-page .question {
			width: 100%;
			padding: 24px;
			background-color: #00bfa5;
		}

			#posi-page .question p {
				margin: 0;
				padding: 0;
				color: #fff;
				font-size: 0.875em;
				font-weight: 400;
				line-height: 1.5em;
			}

		#posi-page .reponse-user {
			width: 100%;
			padding: 20px 20px;
			margin: 0 0 20px 0;
			background-color: #fff;
		}

			#posi-page .reponse-user .radio-group {
				margin: 0 10px;
			}

				#posi-page .reponse-user .radio-group li {
					
				}

				#posi-page .reponse-user .radio-group li label {
					width: auto;
					margin: 0;
				}
		
		#posi-page .reponse-champ {
			/*width: 100%;*/
			height: 100%;
			/*padding: 20px 30px;*/
			/*margin: 0 0 20px 0;*/
			/*background-color: #fff;*/
		}

		/*#posi-page .audio-media {
			float: left;
		}*/
		

		/*#posi-page input {
			float: right;
			margin-top: 0;
			width: 100px;
		}*/
	




	/*-----  Content Resultat  ------*/

	#posi-page .content .stats {
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 24px;
	}
		
		#posi-page .stats .global-text {
			float: left;
			width: 73%;
			/*padding-bottom: 8px;*/
			margin-right: 2%;
			border-bottom: 1px solid #bdbdbd;
		}
			#posi-page .global-text .time-title {
				font-size: 1.25em;
				font-weight: 400;
			}

				#posi-page .global-text .time {
					display: inline-block;
					float: left;
					font-size: 1.5em;
					font-weight: 300;
					line-height: 200%;
				}

					#posi-page .global-text i {
						font-size: 1em;
					}

				#posi-page .global-text .result-title {
					display: inline-block;
					float: right;
					padding-top: 8px;
					font-size: 1.25em;
					font-weight: 400;
					text-align: right;
					line-height: 200%;
				}

		#posi-page .stats .reponses {
			float: left;
			width: 78%;
			font-size: 1em;
			font-weight: 400;
			text-align: right;
		}

			#posi-page .global-text .reponses span {
				font-weight: 300;
			}
		
		#posi-page .stats .global-result {
			float: right;
			position: relative;
			width: 25%;
			min-width: 100px;
			/*height: auto;*/
			height: 0;
			min-height: 100px;
			padding-top: 25%;
		}
			
			#posi-page .global-result .svg-donut {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				/*height: 100%;*/
			}

				#posi-page .global-result circle {
					fill: none;
				}
				
				#posi-page .global-result .circle-back {
					stroke: #bdbdbd;
					stroke-width: 20px;
				}

				#posi-page .global-result .circle-front {
					stroke: #f57c00;
					stroke-width: 20px;
					/* 2 * Math.PI * radius + 1  */
					stroke-dasharray: 349px;
					stroke-dashoffset: 349px; /*100%;*/
					
					/*-webkit-transition: stroke-dashoffset .5s ease;
					-moz-transition: stroke-dashoffset .5s ease; 
					-ms-transition: stroke-dashoffset .5s ease;
					-o-transition: stroke-dashoffset .5s ease;
					transition: stroke-dashoffset .5s ease;*/
				}
				
				#posi-page .global-result .text-percent {
					fill: #f57c00;
					font-size: 3em;
					font-weight: 300;
					/*font-kerning: -10;*/
					text-align: center;
					text-anchor: middle;
					vertical-align: middle;
					alignment-baseline: middle;
				}
					
					#posi-page .global-result .percent {
						fill: #f57c00;
						font-size: 0.5em;
						baseline-shift: -0.5em;

					}



	/*-----  Footer  ------*/

	.footer {
		width: 100%;
		max-width: 364px;
		margin: 0 auto;
		border: 0 none;
		border-top: 1px solid #bdbdbd;
		/*color: #bdbdbd;*/
		font-size: 0.75em;
		line-height: 0.75em;
		text-align: center; 
	}

		.footer .txt-footer {
			color: #999999;
		}
	



	/*-----  Boite de dialogue modale  ------*/

	#modal-message 
	{
		
	}


	.message-bg
	{
		position: absolute;
		background: #000;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

	}


	.message-box
	{
		position: absolute;
		width: 100%;
		max-width: 412px;
		height: auto;
		/*min-height: 175px;*/
		margin: 24px;
		/*padding: 0 24px 24px 24px;*/
		/*top: 0px;
		left: 0px;*/
		
		background-color: #ffffff;
		font-family: inherit;
		font-size: 0.875em;
		color: #000000;
		text-align: left;
		/*-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;*/
	}

		.message-box-info, .message-box-warning, .message-box-alert, .message-box-valid, .message-box-none
		{
			float: left;
			width: 75px;
			height: 75px;
			/*width: ;*/
			margin: 25px;
			/* background-color: #ffffff; */
		}
		
		.message-box-alert
		{
			background: url('../images/icon-alert.png') no-repeat;
		}

		.message-box-info
		{
			background: url('../images/icon-info.png') no-repeat;
		}
		
		.message-box-warning
		{
			background: url('../images/icon-warning.png') no-repeat;
		}
		
		.message-box-valid
		{
			background: url('../images/icon-valid.png') no-repeat;
		}
		
		.message-box-none
		{
			
		}
		
		
		.message-box-text
		{
			float: right;
			width: 100%;
			/*width: 275px;*/
			max-width: 287px;
			/*min-height: 75px;*/
			margin: 0px;
			padding: 25px 25px 25px 0px;
			/*margin-bottom: 10px;*/
			/*font-size: inherit;*/
		}
		
		.message-box-buttons
		{
			clear: both;
			text-align: right;
			width: 100%;
			height: auto;
			background: #f0f0f0;
			/*border-top: 1px solid #ccc;*/
			padding: 8px 24px 8px 24px;

			/*-webkit-border-radius: 0px 0px 5px 5px;
			-moz-border-radius: 0px 0px 5px 5px;
			border-radius: 0px 0px 5px 5px;*/
		}
			.message-box-buttons button
			{
				width: 35%;
			}

			.message-box-buttons button:first-child
			{
				margin-right: 24px;
			}
			/*
			.message-box-buttons input
			{
				/*height: 30px;
				background: #fff;
				border: 1px solid #ccc;
				margin: 5px;
				text-align: center;
				cursor: pointer;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			
			.message-box-buttons input:focus
			{
				border: 1px solid #aaa;
			}
			*/





/* Media query pour écran supérieur à 680px  */

@media only screen and (min-width: 680px) {

	
#posi-inscript.main {
	max-width: 680px;
	margin: 40px auto 0 auto;
}
/*
#posi-page.main {
	max-width: 100%;
	margin: 40px auto 0 auto;
}
*/

	/*-----  Header inscription------*/
	/*
	.header {
		width: 100%;
		height: 40px;
		background-color: #009688;
	}*/
		
		/*.header .header-wrapper {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			padding: 0 24px;
		}

		#posi-inscript .header .header-wrapper {
			max-width: 412px;
		}*/

			/*.header .logo {
				position: absolute;
				width: 40px;
				height: 40px;
				background: url(../images/logo-dalia_40x40.png) no-repeat 50% 50%;
				background-color: #fff;
			}*/
	/*
	.header {
		background-color: #009688;
	}
		
		.header .header-wrapper {
			position: relative;
			width: 100%;
			height: 32px;
			margin: 0 auto;
			padding: 10px 24px;
		}
	
	#posi-inscript .header {
		max-width: 364px;
		height: 100%;
		margin: 0 auto;
	}

		#posi-inscript .header .header-wrapper {
			margin: 0;
		}
	*/


	#posi-inscript .header {
		float: left;
		max-width: 240px;
		height: 100%;
		margin-left: 24px;
		/*background-color: #009688;*/
	}
  
		#posi-inscript .header .header-wrapper {
			position: static;
			max-width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}

			#posi-inscript .header .logo {
				display: block;
				position: static;
				width: 240px;
				height: 200px;
				background: url(../images/logo-240x200.png) no-repeat 50% 50%;
				background-color: #fff;
			}

	
			#posi-inscript .header .header-title {
				position: static;
				width: 100%;
				height: 64px;
				padding: 20px 20px;
				/*line-height: 24px;*/
				text-align: center;
			}

				#posi-inscript .header .header-title i {
					display: none;
				}

				#posi-inscript .header .header-title h1 {
					/*display: inline;*/
					/*padding: 0 0 5px 0;*/ /*0.5em 0;*/
					/*margin: 0;*/
					color: #ffffff;
					font-size: 0.8125em;
					font-weight: 400;
					text-align: center;
					line-height: 24px;
				}

			/*
			#posi-inscript .header .header-menu {
				display: none;
			}
			*/
			/*
			.header .header-menu {
				position: absolute;
				right: 24px;
				height: 40px;
				width: 256px;
				z-index: 999;
			}
				
				.header-menu .menu-btn {
					float: right;                   
					display: block;
					width: 40px;
					height: 40px;
					background-color: #009688;
					border: none;
					color: #b3e0db;
					font-size: 24px;
					text-align: center;
					line-height: 40px;
					text-decoration: none;
				}

				.header-menu .menu-btn:hover {
					background-color: #01bfa5;
				}
					
					.header-menu .menu-btn:hover i {
						color: #fff;
					}

				.header-menu .menu-list {
					clear: both;
					display: none;
					background-color: #009688;
					color: #fff;
					font-size: 1em;
				}

					.header-menu .menu-list li {
						height: 30px;
						padding: 10px;
						border-bottom: 1px solid #01bfa5;
						display: table;
						width: 100%;
					}

						.header-menu .menu-list li span {
							display: table-cell;
							vertical-align: middle;
						}
			*/
			

	/*-----  Header page ------*/
	/*
	#posi-page .content {
		width: 100%;
		max-width: 798px;
		height: auto;
		margin: 0 auto;
		padding: 0 24px 24px 24px;
	}


		#posi-page .media-display {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			background-color: #fff;
		}
			
			#posi-page .media-display #visuel {
				position: relative;
				width: 100%;
				max-width: 750px;
				height: 0%;
				max-height: 420px;
				padding-bottom: 56%;
				
			}
			*/

	#posi-page .header {
		width: 100%;
		max-width: 750px;
		height: auto;
		margin: 0 auto;
		/*padding: 0 24px;*/

	}


		#posi-page .header .header-wrapper {
			/*max-width: 100%;*/
			/*padding: 0 24px;*/

			/*width: 100%;*/
			/*height: 100%;*/
			/*max-width: 798px;*/
			/*margin: 0 24px;*/
			/*padding: 0 24px;*/
		}


	/*-----  Content Inscription  ------*/
	
	#posi-inscript .content {
		float: left;
		margin: 0;
	}

		.content .form-header {
			height: 64px;
		}
		
		/*	
		.content .form-header {
			width: 100%;
			height: 48px;
			margin: 0;
			padding: 10px 24px;
		}*/
		
			.content .form-header h2 {
				/*float: left;*/                   
				/*display: block;*/
				/*font-size: 1.5em;
				font-weight: 400;*/
				line-height: 44px;
			}

			.content .form-header i {
				/*float: right;                   
				display: block;
				width: 24px;
				height: 28px;
				color: #b3e0db;
				font-size: 24px;
				text-align: center;
				line-height: 24px;
				text-decoration: none;*/
				color: #fff;
				line-height: 44px;
			}



	/*-----  Content Page  ------*/

	#posi-page .content {
		/*width: 100%;
		max-width: 750px;
		height: auto;
		margin: 0 auto;
		padding: 0 24px 24px 24px;*/
	}

		#posi-page .media-display {
			/*position: relative;*/
			/*width: 100%;*/
			max-width: 100%;
			max-height: 100%;
			height: 100%;
			padding-bottom: 0;
			/*background-color: #fff;*/
		}

			#posi-page .media-display img {
				width: 100%;
				max-width: 100%;
			}



	/* Footer */
	
	#posi-inscript .footer {
		/*width: 100%;*/
		max-width: 628px;
		/*padding: 0 24px;*/
	}

	#posi-page .footer {
		width: 100%;
		max-width: 750px;

		/*padding: 0 24px;*/
	}
}



	


